#weather {
    position: absolute; /*페이지에고정*/
    background-color: rgba(255, 255, 255, 0.4);

    justify-content: flex-end;
    border-radius: 28px;
    color: white;
    font-size: 14px;

    text-align: center;
    margin: 10px;
    padding: 8px 20px 8px 20px ;
    top: 10px;
    right: 10px;  /* Aligns the div to the right side */
}