#greeting {
  padding: px;
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255, 0.8);

}

#login-form {
  text-align: center;
  font-size: 15px;
}

#login1 input {
  text-align: center;
  color: rgb(255, 255, 255, 0.7);
  font-size: 2em;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid;
  border-bottom-color: aliceblue;
  padding-bottom: 10px;
}

#login2 input {
  text-align: center;
  color: rgb(255, 255, 255, 0.7);
  font-size: 1em;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  margin-top: 20px;
}
